*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding: 20px 30px ;
    border: 2px solid black;
    background-color: red;
    border-radius: 5px;
}